apiVersion: v1
kind: Secret
metadata:
  name: git-repo-secret
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
data:
  name: "{{ 'argocd-repo' | b64encode }}"
  project: "{{ 'default' | b64encode }}"
  url: "{{ 'git@github.com:01cloud/inl-infra.git' | b64encode }}"
  sshPrivateKey: "{{ lookup('file', '~/.ssh/argocd') | b64encode }}"
type: Opaque

